@import "../../vars.css";

.title {
  font-size: 5rem;
  /* font-family: 'Intro', sans-serif; */
  font-weight: 800;
  text-transform: uppercase;
  /* Warning: no fallback */
  
  background: -webkit-linear-gradient(-86deg, #36C4FF 5%, #187BCE 53%, #034AAD 91%);
  /* background: -webkit-linear-gradient(-86deg, #034AAD 5%, #187BCE 53%, #36C4FF 91%); */
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: black;
}

/* .slide-animate{
  display: inline-block;
color: #fff;
position: relative;
white-space: nowrap;
top: 0;
left: 0;
animation: move 2s infinite;
-webkit-animation: move 5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: 2s;
} */
/* .slider {
  position: relative;
  width: 90;
  height: 7rem;
  overflow: hidden;
} */

.slider-text {
  position: absolute;
  width: 100%;
  text-align: left;
  top: 100%;
  animation: slide 4s infinite;
  font-family: var(--font-lexend);
  font-size: 5rem;
  font-weight: 600;
}
.floating_image{
  animation: floating 1s infinite;
  max-width: 50px;
}
.Typewriter .Typewriter__wrapper{
  text-align: left;
  font-family: var(--font-lexend);
  font-size: 5rem;
  font-weight: 600;
}
.Typewriter__cursor{
  font-size: 64PX;
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
