@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
 max-width: 100%;
 width: 160px;
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    /* margin-right: 10%; */
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 9;
    filter: invert();
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    /* border-radius: 10px; */
    background: rgb(25, 55, 109);
    background: white;
    /* background: -webkit-linear-gradient(180deg,#1863DEFC, #7456D4FC); */
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
  }
  .menuItems a {
    color: black;
  }
  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
/* font-size: calc(20px + 12*((100vw - 360px) / 767)); */