@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

.header-gradient{
  background: -webkit-linear-gradient(180deg,#1863DEFC, #7456D4FC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blackcard {
  position: relative;
  /* width: 256px;
  height: 256px;
  background-color: white; */
  border-radius: 8px; /* Adjust for rounded corners */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.blackcard::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #1863DE, #7456D4);
  border-radius: 8px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  z-index: -1;
}

/* On hover, show the gradient border */
.blackcard:hover::before {
  opacity: 1; /* Make the gradient visible on hover */
}
